PORT=5000
NODE_ENV=development
MONGO_URI=#

ACCESS_TOKEN_SECRET=jishad-backend-access-secret-change-in-prod
ACCESS_TOKEN_EXPIRES=7d
REFRESH_TOKEN_SECRET=jishad-backend-refresh-secret-change-in-prod
REFRESH_TOKEN_EXPIRES=10d

CLOUDINARY_CLOUD_NAME=dlpdumtua
CLOUDINARY_API_KEY=883319152857646
CLOUDINARY_API_SECRET=321XZDG7vEbm1b7bQJoBU8zAMKg

EMAIL_EXPIRES=900000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_ADDRESS=sauravsarkar.developer@gmail.com
EMAIL_PASS=jkunziohwbjrckcl
EMAIL_FROM=sauravsarkar.developer@gmail.com
ADMIN_EMAIL=bdcallingjahidul@gmail.com

STRIPE_SECRET_KEY=#
STRIPE_WEBHOOK_SECRET=#

FRONTEND_URL=#
ADMIN_URL=#

RATE_LIMIT_WINDOW=15m
RATE_LIMIT_MAX=100
RATE_LIMIT_DELAY=50
